.home-container {
  padding: 40px;
}

h2 {
  margin-bottom: 20px;
  color: rgb(44, 62, 80);
  font-weight: 500;
  border-bottom: 2px solid rgb(52, 152, 219);
  padding-bottom: 10px;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
}

.student-card {
  border: none;
  padding: 20px;
  border-radius: 8px;
  background: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
}

.student-card:hover {
  background: rgb(240, 240, 240);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.student-card h3 {
  margin-top: 0;
  margin-bottom: 10px;
  color: rgb(52, 73, 94);
  font-weight: 600;
  border-bottom: 1px dashed rgb(236, 240, 241);
  padding-bottom: 5px;
}

.student-card p {
    margin-bottom: 8px;
    font-size: 0.95;
}

